* {
  box-sizing: border-box;
}

html {
  background: $off-white;
  height: 100vh;
  font-size: 62.5%;
}

body {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

hr {
  border-top: 1px solid $light-grey;
}

h1 {
  font-size: 7rem;
}

h5 {
  font-size: 1.4rem;
}

.ui.huge.header {
  font-size: $header-font-size-huge;
}

.ui.large.header, h2 {
  font-size: $header-font-size-large;
}

.ui.medium.header, h3 {
  font-size: $header-font-size-medium;
}

.ui.small.header, h4 {
  font-size: $header-font-size-small;
}

