// Colours
$off-white: #FBFBFB;
$light-grey: #EFEFEF;
$grey: #AEAEAE;
$dark-grey: #666666;
$grey-line: #E6E6E6;
$ui-card-line: #DCDCDC;

$watermelon: #FF3B3F;
$header-grey: #757575;
$positive-green: #00C25F;
$negative-red: #FF2400;

// Font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Header font size
$header-font-size-huge: 2.8rem;
$header-font-size-large: 2.4rem;
$header-font-size-medium: 1.8rem;
$header-font-size-small: 1.5rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$content-max-width: 128rem;
$dashboard-left-max-width: 38rem;
