.dashboard {
  padding: $m-size 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: $content-max-width;

  &__left-side {
    margin: 0 $m-size 0 0;
  }

  &__center {
    display: flex;
    flex-direction: column;
  }
}
