.header {
  background: white;
  border-bottom: 1px solid $ui-card-line;

  .content-container {
    align-items: center;
    display: flex;
    padding: 1rem 0;
  }

  a {
    color: $header-grey;
    margin: 0 $s-size;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}

.header__title {
  color: $header-grey;
  font-weight: 500;
  margin: 0 auto 0 0;

  a:hover {
    color: inherit;
  }
}

