.header {
  background: black;

  .content-container {
    align-items: center;
    display: flex;
  }

  a {
    color: white;
    margin: 0 $s-size;
    padding: $s-size;
    text-decoration: none;
    &:hover {
      color: $grey;
    }
  }
}

.header__title {
  color: white;
  font-weight: 300;
  margin-right: auto;
}

