.react-datepicker {
  font-size: 1.2rem;
}
.react-datepicker__header {
  padding-top: 1rem;
}
.react-datepicker__month {
  margin: 0.5rem 1.2rem;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 2rem;
  line-height: 1.9rem;
  margin: 0.166rem;
}
.react-datepicker__current-month {
  font-size: 1.3rem;
}
.react-datepicker__navigation {
  line-height: 1.6rem;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1rem;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1rem;
}

