.react-datepicker {
  font-size: 1.2rem;
}
.react-datepicker__header {
  padding-top: 1rem;
}
.react-datepicker__month {
  margin: 0.5rem 1.2rem;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 2rem;
  line-height: 1.9rem;
  margin: 0.166rem;
}
.react-datepicker__current-month {
  font-size: 1.3rem;
}
.react-datepicker__navigation {
  line-height: 1.6rem;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1rem;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1rem;
}

.react-datepicker__input-container input {
  color: $dark-grey;
  outline: none;
}

.table__add-trade-row .react-datepicker__input-container {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28rem;
  padding: 0.4rem $s-size;
}

