table {
  border: 1px solid $grey-line;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Ubuntu Mono', monospace;
  margin: $m-size auto;
}

th, td {
  border: 1px solid $grey-line;
  height: 36px;
  padding: 0 $s-size;
}

th {
  background: #FBFBFB;
  color: $grey;
  text-align: left;
  font-weight: 400;
}

.table {
  &__edit-cell {
    width: 70px;
  }

  &__icon-cell {
    line-height: 100%;
    text-align: center;
  }

  &__number-cell {
    text-align: right;

    & input {
      text-align: right;
    }

    &--positive {
      color: $positive-green;
    }

    &--negative {
      color: $negative-red;
    }
  }
}

.table__add-trade-row {
  & td {
    border-left: none;
    border-right: none;
    padding: 0;
  }

  & .ui.input {
    width: 100%;

    & input {
      color: $dark-grey;
      padding: 0.6rem $s-size;
      font-family: 'Ubuntu Mono', monospace;
      font-size: 1.4rem;
      text-align: right;
    }
  }

  & span {
    padding: 0 $s-size;
    float: right;
  }

  & .ui.button {
    font-size: 0.8rem;
    margin: 0;
  }
}

.table__row--editing .user-input {
  border: 1.1px solid #f8b500;
  //background: rgba(249, 181, 0, 0.1)
}

.table__row--editing #editTrade {
  color: #f8b500;
}

td, td > a {
  color: $dark-grey;
}

td > a:hover {
  color: $watermelon;
}

table input {
  background: transparent;
  border: none;
  width: 80px;
}
