table {
  border: 1px solid $grey-line;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Ubuntu Mono', monospace;
  margin: $m-size auto;
}

th, td {
  border: 1px solid $grey-line;
  height: 36px;
  padding: 0 $s-size;
}

th {
  background: #FBFBFB;
  color: $grey;
  text-align: left;
  font-weight: 400;
}

.table__edit-cell {
  width: 30px;
}

.table__number-cell {
  text-align: right;

  &--positive {
    color: $positive-green;
  }

  &--negative {
    color: $negative-red;
  }
}

td, td > a {
  color: $dark-grey;
}

td > a:hover {
  color: $watermelon;
}
