.ui-card {
  margin: 0 auto $m-size auto;
  background: white;
  border: 1px solid $ui-card-line;
  border-radius: 5px;
  display: inline-block;
  font-size: $font-size-small;
  padding: $s-size;
}

.ui-card__title {
  background: white;
  border-radius: 5px 5px 0 0;
  color: $grey;
  display: flex;
  font-family: Ubuntu;
  font-weight: 500;
  justify-content: center;
}

.ui-card__content {
  border-top: 1px solid $grey-line;
  margin-top: $s-size;
}

.market-data-row {
}

