.ui-card {
  margin: 0 auto $m-size auto;
  background: white;
  border: 1px solid $ui-card-line;
  border-radius: 5px;
  display: inline-block;
  font-size: $font-size-small;
  padding: $s-size;
  width: 100%;
}

.ui-card__title {
  background: white;
  border-radius: 5px 5px 0 0;
  color: $grey;
  display: flex;
  font-family: Ubuntu;
  font-weight: 500;
  justify-content: center;
}

.ui-card__content {
  border-top: 1px solid $grey-line;
  margin-top: $s-size;
}

.market-data-row {
  border-bottom: 1px solid $ui-card-line;
  display: flex;

  &>div {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 $s-size;
  }

  & .chart {
    margin-left: auto;
  }
}

